body {
  background-image: url("assets/pumpkin.gif");
  color: white;
}

.control {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding:10px;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

.walls {
  background-color: #f0a;
  color: #fff;
}
.walls:hover, .walls-selected {
  background-color: #603;
  cursor: pointer;
}

.doors {
  background-color: #0f6;
  color: #fff;
}
.doors:hover, .doors-selected {
  background-color: #061;
  cursor: pointer;
}

.windows {
  background-color: #60f;
  color: #fff;
}
.windows:hover, .windows-selected {
  background-color: #106;
  cursor: pointer;
}

table {
  width: 100%;
}

.tools {
  width: 125px;
}

.floorplan {
  float: left;
}

.export {
  padding: 10px;
}

canvas {
  border: 2px solid blue;
  border-radius: 5px;
}

label {
  display: inline;
}