.control {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.walls {
  background-color: #f00;
}
.walls:hover, .walls-selected {
  background-color: #600;
  cursor: pointer;
}

.doors {
  background-color: #0f0;
}
.doors:hover, .doors-selected {
  background-color: #060;
  cursor: pointer;
}

.windows {
  background-color: #00f;
}
.windows:hover, .windows-selected {
  background-color: #006;
  cursor: pointer;
}

.doors_control, .walls_control, .windows_control {
  float: left;
}

table {
  width: 100%;
}

.tools {
  width: 100%;
}

.floorplan {
  float: left;
}

.export {
  padding: 10px;
}

canvas {
  border: 2px solid blue;
  border-radius: 5px;
}

label {
  display: inline;
}